<main>

  <section class="form-section">
    <img src="/assets/svg/Yacht-bro.svg" style="width: 150px;">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
    <button class="btn-primary" (click)="submit()" [disabled]="disableprimarybtn">{{ primarybtntext }}</button>
    <div class="divider">
      <div></div>
      <span>Or</span>
      <div></div>
    </div>
    <button class="btn-secondary" (click)="navigate()"> {{ secondarybtntext }}</button>
  </div>
  </section>

  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img src="/assets/svg/port-animate.svg" style="width: 550px;">
  </section>

</main>
